/* @override http://localhost:8080/css/weather.css */

body {
	margin: -0px;
	padding: -0px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 0.8em;
}

h1 {
	font-size: 1.4em;
	font-style: bold;
	text-align: center;
}

h3 {
	font-size: 1.1em;
	font-weight: normal;
	font-style: italic;
}

.content {
	width: 320px;
	background: white;
	padding: 1ex;
	margin: 0 auto;
}
.submitURL {
	text-align: center;
	width: 100%;
}
.urlField {
	#width: 500px;
	margin-left: -40%;
}

table {
	font-size: 1em;	
	border-collapse: collapse;
	border: solid 1px black;
	width: 100%;
	font-size: 0.9em;

}

th {
	/*Used for the index page*/
	text-align: left;
	padding-right: 30px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: lightgrey;
}

td {
	padding-left: 3px;
}

tr.day {
	background: lightgrey;
	margin: -1px;
	padding: -1px;
}

td.day1 {
	font-weight: bold;
	background: #a0a0a0;
	padding-right: 6px;
}

td.period {
	
}

td.day {
	
}

.source,.footer {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: -0px;
}
.nav{
	text-align: center;
	width: 100%;

}