
body{
	margin:-0px;
	padding: -0px;
}
.content{
	width:320px;
	background: white;
	padding: 2ex 4ex;
	margin: 0 auto;
	width: 320px;
}
table{
	/*margin: 0, auto;*/
	
	border-collapse: collapse;
	border: solid 1px black;
	width: 100%;
}

th{/*Used for the index page*/
	text-align: left;
	padding-right:30px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: lightgrey;
}

td {
	padding-left:3px;
}

tr.day{
	background:lightgrey;
	margin:-1px;
	padding:-1px;
}

td.day1{
	font-weight:bold;
	background: #a0a0a0;
	padding-right: 6px;	
}

td.period{

}

td.day{
	
}
.source,.footer{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: -0px;
}