
table{
margin:0px;
padding:0px;
border-collapse: collapse;
}

th{/*Used for the index page*/
	text-align: left;
	padding-right:30px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: lightgrey;
}

td {
	padding-left:3px;
}

tr.day{
	background:lightgrey;
	margin:-1px;
	padding:-1px;
}

td.day1{
	font-weight:bold;
	background: #a0a0a0;
	padding-right: 6px;	
}

td.period{

}

td.day{
	
}
